@import 'app-palette';

.reports {
  width: 960px;
  margin: auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__title {
    flex: 2 0 100%;
    font-size: 34px;
    color: $app-primary-color;
    margin: 0;
  }

  &__item {
    flex: 2 0 100%;
    margin-right: 0;
    margin-left: 0;

    &--row {
      flex: 0 0 auto;
    }
  }
}
