@import 'app-palette';

.profile {
  width: 960px;
  margin: auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__category {
    flex: 0 0 400px;

    h3 {
      font-size: 24px;
      color: $app-primary-color;
      margin: 0;
    }
  }

  &__actions {
    flex: 1 0 auto;
    text-align: right;

    button {
      width: 120px;
      height: 40px;

      + button {
        margin-left: 16px;
      }
    }
  }
}
